@page
@model AuthAspRazorPages.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group m-3">
                <label asp-for="Roles" class="control-label"></label>
                <select class="form-control" asp-for="RegisterModel.RoleId"
                        asp-items="Model.Roles">
                    <option value="0">نقش</option>
                </select>

                <span asp-validation-for="RegisterModel.RoleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RegisterModel.UserName" class="control-label"></label>
                <input asp-for="RegisterModel.UserName" class="form-control" />
                <span asp-validation-for="RegisterModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.Password" class="control-label"></label>
                <input asp-for="RegisterModel.Password" class="form-control" />
                <span asp-validation-for="RegisterModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.FullName" class="control-label"></label>
                <input asp-for="RegisterModel.FullName" class="form-control" />
                <span asp-validation-for="RegisterModel.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.FName" class="control-label"></label>
                <input asp-for="RegisterModel.FName" class="form-control" />
                <span asp-validation-for="RegisterModel.FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.ProfilePhoto" class="control-label"></label>
                <input asp-for="RegisterModel.ProfilePhoto" class="form-control" />
                <span asp-validation-for="RegisterModel.ProfilePhoto" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@