<h3>MyNavMenu</h3>
<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/Users" Match="NavLinkMatch.Prefix">Servers</MudNavLink>
    <MudNavLink Href="/Roles" Match="NavLinkMatch.Prefix">Servers</MudNavLink>
    <MudNavLink Href="/Books" Match="NavLinkMatch.Prefix">Servers</MudNavLink>
    <MudNavLink Href="/Articles" Match="NavLinkMatch.Prefix">Servers</MudNavLink>

    <MudNavGroup Title="Settings" Expanded="true">
        <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
        <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Security</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>
@code {

}
